
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    color: hwb(309 58% 14%);
    color: #333;
    color: #3651FF;
    --pg-color:#fffaff;
    color: #A52592;
     --black-color: #141313;
}

body{
      font-family: "Open Sans", sans-serif;
      background-color: var(--pg-color);
      
      
}
h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;

}
ul{
    list-style: none;
}

a {
    text-decoration: none;
}

/*utility classes */
.container{
    max-width: 1200px;
    margin: auto;

}
.title{
    text-align: center;
}
.title h2{
    font-size: 32px;
    margin: 100px;
    

}

/* Header Start */
#header {
    position: fixed;
    background-color: #A52592;
    width: 100%;
    border-bottom: 1px solid #ccc;

}
#header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    height: 90px;

}
#header .navbar .logo{
    width: 150px;
    
}

#header .navbar ul {
display: flex;
}
#header .navbar ul li a {
    color:var(--pg-color);
    font-size: 18px;
    margin: 0 20px;
    font-weight: 500;
    transition: 0.3s ease;
}
#header .navbar ul li a:hover{
    color: var(hwb(308 6% 49%));
}

    
.btn{
    padding: 0.5rem 1.5rem ;
    border-radius: 20px;
    font-weight: 600;
    font-size: 1rem;
    background: #db8bcf;
    color: #fffaff;
    box-shadow: 0 0 15px #db8bcf;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
/* Header End*/
/*Home Start*/
#home{
        padding: 4rem 0;

}

#home ,
#Services,
#products,
#contact
{
    background: #fffaff;
    background-size: 100%;
    background-color: #fffaff;

}
#home .home-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
    gap: 3rem;
    align-items:center;

}
#home .home-content .content-text h3{
    font-size: 30px;
    font-weight: 400;
    color: var(--black-color);
}
#home .home-content .content-text h1{
    font-size: 60px;
    margin: 20px 0;
    line-height: 1.3;
    color: #A52592;

}
#home .home-content .content-text p{
    font-size: 18px;
    line-height: 1.5;
    color: #141313; 
}
#home .home-content .content-text .btn1{

   display:inline-block;
   margin-top: 2rem;
   background-color: #3651FF;
   color: #fffaff;
   padding: 15px 25px;
   border-radius: 30px;
   transition: all 0.3s ease;
}
 #home .home-content .content-text .btn1:hover {
background-color: #171417;
 } 
#home .home-content img{
    display: block;
    width: 100%;
}
/*Home End*/
/* Services Start*/



.row {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.item {
  text-align: center;
}
#services{
     padding: 4rem 0;
}

#services.row{
    display: grid;
    grid-template-columns: repeat(3.1fr);
    margin-top: 3rem;
    column-gap: 3rem;
    text-align: center;
}
#services.row .item{
    background-color:#fffaff;
}

#services.row img{
    width: 100%;
    height: 300px;

}
#services.row.item .item-details{
    padding:2rem 0;
}



#services .btn-primary{
     display:inline-block;
   margin-top: 2rem;
   color: #fffaff;
   padding: 15px 25px;
   border-radius: 30px;
   transition: all 0.3s ease;
}

/* Services End*/
/* products Start*/

#products.row{
    display: grid;
    grid-template-columns: repeat(3.1fr);
    margin-top: 3rem;
    column-gap: 3rem;
    text-align: center;
}
#products.row .item{
    background-color:#fffaff;
}

#products.row img{
    width: 100%;
    height: 300px;

}
#products.row.item .item-details{
    padding:2rem 0;
}



#products .btn-primary{
     display:inline-block;
   margin-top: 2rem;
   color: #fffaff;
   padding: 15px 25px;
   border-radius: 30px;
   transition: all 0.3s ease;
}
/* products End*/

/* contact Start*/
#contact{
    padding: 4rem 0;
}
#contact .row {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #fffaff;
    box-shadow: 3px 3px 20px ;
    padding: 2rem 3rem;
    border-radius: 10px;
}
#contact .row input ,
#contact .row textarea {
    display: block;
    width: 100%;
    margin: 20px 0;
    padding: 10px ;
    background-color: #db8bcf;
    outline: none ;
    border: 1px solid #ccc;
    border-radius: 10px;
}
#contact .btn :hover{
    background-color: #333;
}
#contact .Social a {
color: #333;
font-size: 22px;
margin: 0 12px;
}
/* contact End*/

/*Footer Start*/
#footer{
    background: #A52592;
    text-align: center;
    color: #fffaff;
    padding: 15px 0 ;
    font-size: 14px;
}
/*Footer End*/

